:host {
  .beer {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 1rem;
    img {
      height: 200px;
    }
    .attrs {
      .name {
        display: flex;
        align-items: center;
        color: green;
        font-size: 2rem;
      }
      button {
        background-color: transparent;
        mat-icon {
          color: gray;
          &.favorite {
            color: orange;
          }
        }
      }
      .tagline,
      .abv {
        color: gray;
        font-size: 1.5rem;
      }
    }
  }
}
