<div class="container">
  <ng-container *ngIf="beers$ | async as beers">
    <div class="header">
      <div class="filter">
        <mat-form-field appearance="outline" autocomlete="off">
          <input
            matInput
            name="search"
            [formControl]="filterField"
            autocomplete="off"
          />
          <mat-hint>Enter something to filter beers</mat-hint>
        </mat-form-field>
      </div>
      <div class="sort-buttons">
        <button mat-button (click)="sortBeers(true)">
          Sort By ABV (low to high)
        </button>
        <button mat-button (click)="sortBeers(false)">
          Sort By ABV (high to low)
        </button>
        <button mat-button (click)="getDefaultArray()">
          Back to default ordering
        </button>
      </div>
    </div>
    <div class="options">
      <button mat-button (click)="gridView = !gridView">
        {{ gridView ? "Switch To List View" : "Switch To Grid View" }}
      </button>
    </div>
    <div
      class="beers"
      *ngIf="beers.length; else isLoading"
      [class.grid-view]="gridView"
    >
      <app-beer
        *ngFor="let beer of beers; trackBy: identify"
        [beer]="beer"
        (favoriteStatusChanged)="onFavoriteStatusChanged(beer.id)"
      ></app-beer>
    </div>
  </ng-container>
</div>

<ng-template #isLoading>
  <div class="loading">
    {{ loading ? "loading..." : "Something went wrong - no beers for today" }}
  </div>
</ng-template>
